<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <header class="header-main">
            <div class="cabecera">
                <img id="logo" src="images\logo-mercado-liebre.svg">
                <input class="search-bar" type="text" placeholder="Buscar productos, marcas">
                <i id="buscador" class="fas fa-search fa-lg"></i>
                <p class="pay-credit"> <i id="icon" class="fas fa-hand-holding-usd"></i>Compra en cuotas y tarjetas de crédito</p>
            </div>
            <div class="topnav">
                <ul class="menu">
                    <li><a href="#"></a>Ofertas</li>
                    <li><a href="#"></a>Tiendas Oficiales</li>
                    <li><a href="#"></a>Vender</li>
                    <li><a href="#"></a>Ayuda</li>
                </ul>
                
                <ul class="menu">
                    <li><a href="register.html">Crear Cuenta<i class="fas fa-id-badge"></i></a></li> <!--<i class="fas fa-id-badge"></i>-->
                    <li><a href="login.html">Ingresa<i class="fas fa-sign-in-alt"></i></a></li> <!--<i class="fas fa-sign-in-alt">-->
                    <li><a href="#">Mis Compras<i class="fas fa-shopping-cart"></i></a></li> <!-- <i class="fas fa-shopping-cart"></i>-->
                </ul>
            </div>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <link rel="stylesheet" href="CSS/style.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <div class="burger-menu">
            <i id="burger" class="fas fa-bars fa-2x"></i>
        </div>
    </header>
    <img id="banner" src="images\img-home-banner.jpg">
    <main>
        <section id="prod">
            <h2 class="titulo">Basado en tu ultima visita</h2>
            <section class="caja1">
                <img src="images\img-cafetera-moulinex.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="desc">40% OFF</p>
                <h2>Cafetería Moulinex</h2>
            </section>
            <section class="caja1">
                <img src="images\img-macbook-pro-2019.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="desc">20% OFF</p>
                <h2>Mackbook Pro 2019</h2>
            </section>
            <br>
            <section class="caja1">
                <img src="images\img-samsung-galaxy-s10.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="desc">10% OFF</p>
                <h2>Samsung Galaxy S10</h2>
            </section>
            <br>
            <section class="caja1">
                <img src="images\img-tv-samsung-smart.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="desc">5% OFF</p>
                <h2>SmartTV Samsung 43"</h2>
            </section>
        </section>
        <br>
        <section class="ofertas">
            <h2 class="titulo">Ofertas</h2>
            <section class="caja1">
                <img src="images\img-cafetera-moulinex.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="desc">40% OFF</p>
                <h2>Cafetería Moulinex</h2>
            </section>  
            <br>
            <section class="caja1">
                <img src="images\img-macbook-pro-2019.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="desc">20% OFF</p>
                <h2>Mackbook Pro 2019</h2>
            </section>  
            <br> 
            <section class="caja1">
                <img src="images\img-samsung-galaxy-s10.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="desc">10% OFF</p>
                <h2>Samsung Galaxy S10</h2>
            </section>  
            <br>
            <section class="caja1">
                <img src="images\img-tv-samsung-smart.jpg">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="desc">5% OFF</p>
                <h2>SmartTV Samsung 43"</h2>
            </section> 
        </section>
    </main>

    <footer>
        <section class="footer">
            <section class="cajaF">
                <i class="far fa-credit-card fa-2x"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con MercadoLibre tenés cuotas sin interés 
                    con tarjeta o efectivo en puntos de pago 
                    Y siempre es seguro!
                </p>
            </section>  
            <br>
            <section class="cajaF"> 
                <i class="fas fa-gift fa-2x"></i>
                <h2>Envio gratis desde los $2.500</h2>
                <p>Solo por estar registrado en Mercado Libre 
                    tenés envios gratis en miles de productos.
                    Es un beneficio de Mercado Puntos
                </p>
            </section> 
            <br>
            <section class="cajaF">
                <i class="fas fa-user-shield fa-2x"></i>
                <h2>Seguridad de principio a fin</h2>
                <p>No te gusta Devolvelo En MercadoLibre no hay nada 
                    que no puedas hacer porque 
                    estas siempre protegid@
                </p>
            </section> 
            <br>
        </section>
        <p id="copy">Copyright 1999-2020 MercadoLibre S.R.L</p>

    </footer>
</html>